<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<form method="post" action=".">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Log in" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
	<p>
		Not a member?
		<a href="{% url 'registration_register' %}">Register</a>
	</p>
</body>
</html>