<!DOCTYPE html>
{% load i18n %}
<html>
<head>
	<title>Change Password</title>
</head>
<body>
	<form method="post" action=".">
        {% csrf_token %} 
        {{ form.as_p }}

      <input type="submit" value="{% trans 'Submit' %}" />
    </form>
	
	
</body>
</html>