<!DOCTYPE html>
	{% load bootstrap4  %}
<html>
<head>
	<title>Registration</title>
</head>
<body>
	<h1>Register Here</h1>
	<form method="post" action="."  class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{{ form.as_p }}
		<input class="btn btn-secondary" type="submit" value="Submit" />
		
	</form>
	
</body>
</html>