<!DOCTYPE html>

    {% load static %}

<html>

    <head>

        <title>  About </title>

        <body>
        <h1> Here is the about page</h1>

        <div> 
        <strong> {{sm_message}} </strong> <br/>

        </div>
        <div> 
            <img src = "{% static 'images/motorcycle.jpg' %}" alt = "A family picture" />
        </div>
        <div>
        <br> <a href = '/app1/' > Home </a> 
        </div>


        
        </body>


    
    </head>

    <body>



</html>