<!DOCTYPE html>
<html>
    <head>
        <title> App1 </title>
    </head>

    <body>

        <h1> Add a Category </h1>

        <div>
            <form id="category_form" method="post" action="/app1/add_category/">
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}

                    {{ hidden }}

                {% endfor %}

                {% for field in form.visible_fields %}

                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}

                {% endfor %}
                
                <input type="submit" name="submit" value="Create Category" />
            </form>
        </div>

    
    </body>
</html>