<!DOCTYPE html>
    {% load static %}
    {% comment %} {% load app1_template_tags %}
<html lang="en"> {% endcomment %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>
        Jeva - {% block title %}How to To Get Started with Django!{% endblock %}
     </title>
     <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href= "http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <button type="button" class="navbar-toggler hidden-sm-up"   
        data-toggle="collapse" data-target="#navbar"    aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Jeva</a>
    <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
        <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
        <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
        {% comment %} <a class="nav-item nav-link" href="{% url 'search' %}">Search</a> {% endcomment %}
    
        {% if user.is_authenticated %}

            <a class="nav-item nav-link"    href="{% url 'add_category' %}">Add a New Category</a>
            <a class="nav-item nav-link"  href="{% url 'auth_logout' %}?next=/app1/">Logout</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'registration_register' %}">Register Here</a>
            <a class="nav-item nav-link"    href="{% url 'auth_login' %}">Login</a>
        {% endif %}
    </nav>
    </div>
    </nav>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
    {% block sidebar_block %}
        {% comment %} {% get_category_list category %} {% endcomment %}
    {% endblock %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {% block body_block %}{% endblock %}
    </div>
    </div>
    </div>
    <!-- Bootstrap core JavaScript  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script
        src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js">
    </script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src= 
    "http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.j\s">
    </script>
</body>
</html>