
 {% extends 'app1/base_bootstrap.html' %}

    {% load static %}
    {% comment %} {% load bootstrap4  %} {% endcomment %}


     {% block body_block %}

         
        <h1> You are welcome 
            {% if user.is_authenticated %}
                {{ user.username|title }}!
            {% else %}
                 partner! </h1>
            {% endif %}

        <div> 
        <strong> {{message}} </strong> <br/>

        </div>
        <div> 
            <img src = "{% static 'images/TV.jpeg' %}" alt = "A picture of TV" />
        </div>
        <div>
                 
     
     
     {% endblock %}






























{% comment %} <!DOCTYPE html> {% endcomment %}
   

{% comment %} <html>

    <head>

        <title>  App1 </title>

        <body>
        <h1> Ernest's Django Project in Progress </h1>
        <h2> You are welcome 
            {% if user.is_authenticated %}
                {{ user.username|title }}!
            {% else %}
                 partner! </h2>
{% endif %}

        <div> 
        <strong> {{message}} </strong> <br/>

        </div>
        <div> 
            <img src = "{% static 'images/TV.jpeg' %}" alt = "A picture of TV" />
        </div>
        <div>
                 

                 <ul>
                    {% if user.is_authenticated %}
                        <li><a  href="{% url 'restricted' %}">Restricted Page</a></li>
                        <li><a class = "btn btn-primary" href="{% url 'auth_logout' %}?next=/app1/">Logout</a></li>
                         <li><a class = "btn btn-primary" href= "/accounts/password/change/">Change Password</a></li>
                    {% else %}
                        <li><a href="{% url 'auth_login' %}">Sign In</a></li>
                        <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                    {% endif %}
                    <li><a href = "{% url 'about' %}"> About </a> </li>
                    <li><a href = "{% url 'index' %}"> Index </a> </li>
                    <li><a href = "{% url 'add_category' %}"> Add a New Category </a> </li>
                   
                </ul>


        </div>


        
        </body>


    
    </head>

    <body>

 {% endcomment %}

{% comment %} </html> {% endcomment %}


