{% comment %} <!DOCTYPE html>

    {% load static %}

<html>

    <head>

        <title>  Registration </title>

        <body>
        <h1> About Page </h1>

        {% if registered %}

            App says: <strong> Thank you for registering! </strong>
            <a href = "{% url 'index' %}" > Return to Homepage </a><br/>

        {% else %}

            App says: <strong> register here! </strong> <br/>
            <div>
                <form id="user_form" method="post" action="{% url 'register' %}"
                    enctype="multipart/form-data">

                    {% csrf_token %}


                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}


                    <input type="submit" name="submit" value="Register" />
                </form>
            </div>
        {% endif %}


        

        

        
        
        <div>
        <br> <a href = '/app1/about' > Learn More </a> 
        </div>


        
        </body>


    
    </head>

    <body>



</html> {% endcomment %}