<!DOCTYPE html>

    {% load static %}

<html>

    <head>

        <title>  Login  </title>

        <body>
            <h1> Login to the App </h1>
            <div>

                <form id="login_form" method="post" action="{% url 'login' %}">
                 {% csrf_token %}
                 Username: <input type="text" name="username" value="" size="50" />
                 <br />
                 Password: <input type="password" name="password" value="" size="50" />
                 <br />
                 <input type="submit" value="submit" />
                </form>
            </div>
       


        

        

        
        
        <div>
        <br> <a href = '/app1/about' > Learn More </a> 
        </div>


        
        </body>


    
    </head>

    <body>



</html>